.ControlBar {
  width: 1000px;
  height: 120px;

  border-style: solid;
  border-color: lightgrey;
  border-width: 5px;
  border-radius: 15px;

  background-color: darkgray;

  margin-top: 20px;
  margin-left: calc((100% - 1000px)/2);

  position: relative;
}
