.DataWindow {
  width: 300px;
  padding-top: 600px;

  border-style: solid;
  border-color: lightgrey;
  border-width: 5px;
  border-radius: 15px;

  color: rgb(27, 90, 29);
  background-color: rgb(10, 22, 9);

  position: relative;

}

.DataWindowText {
  font-family: consolas;
  font-size: larger;
  font-weight: bold;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 10px
}