.ObservationWindow {
  width: 600px;
  padding-top: 600px;

  border-style: solid;
  border-color: lightgrey;
  border-width: 5px;
  border-radius: 15px;

  background-color: rgb(15, 15, 53);

  position: relative;
}